.page {
  background: #eaeaea;
  font-family: Roboto;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  min-width: 400px;
  margin-top: -100px;
}
